* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
}

header {
    padding: 25px 0;
    box-shadow: 1em 0.5em 1em #e4e9f1;
}

header nav li {
    display: inline;
    margin-right: 18px;
}

header nav li a {
    text-decoration: none;
    color: #233831;
}

.special-button {
    font-weight: bold;
    padding: 17px 20px;
    background-color: #233831;
    color: #fff;
    border-radius: 10px;
}

.special-button:hover {
    background-color: #F18A41;
}

.container {
    max-width: 1050px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    max-width: 1000px;
    margin: auto;
}

.sessao1 {
    display: flex;
    align-items: start;
    text-align: left;
    justify-content: space-between;
}

.sessao2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    text-align: left;
    justify-content: space-between;
}

.content h2 {
    font-size: 250%;
    margin-bottom: 15px;
}

.content h6 {
    width: fit-content;
    font-size: 15px;
    padding: 7px;
    background-color: #F0EEEA;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: 600;
}

.content h2+p,
.content p {
    color: gray;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 300;
}

.content li {
    font-weight: bold;
    font-size: x-large;
    list-style: none;
    background-image: url(/imagens/check-mark.svg);
    /* Defina a imagem de fundo */
    background-repeat: no-repeat;
    /* Evita a repetição da imagem */
    background-size: 16px 16px;
    /* Ajusta o tamanho da imagem */
    padding-left: 30px;
    /* Adiciona espaço para a imagem à esquerda do texto */
    background-position: 0 50%;
    /* Centraliza verticalmente a imagem */
}

span {
    color: #F18A41;
    box-shadow: 0 0.1em;
}

img {
    width: 85vh;
    height: 75vh;
    background-color: #F0EEEA;
    padding: 85px;
    border-radius: 10px;
    margin: 25px 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 35% 35% 35%;
}

.wrapper img {
    background-color: #fff;
    width: fit-content;
    height: 20vh;
    padding: 0px;
    margin-left: 20px;
    margin: 20px;
}

.wrapper div {
    background-color: #F0EEEA;
    margin: 20px;
    border-radius: 15px;
}

.wrapper div h3 {
    margin: 0px 0px 20px 20px;
    font-size: 22px;
    color: #233831;
}

.wrapper div p {
    margin: 0px 0px 50px 20px;
    color: gray;
    line-height: 30px;
    width: 80%;
}