* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
}

html {
    scroll-behavior: smooth;
}

header {
    padding: 35px 0;
    background-color: #fff;
    position: sticky;
    top: 0px;
    box-shadow: 1em 0.5em 1em #e4e9f1;
}

header nav li {
    display: inline;
    margin-right: 18px;
}

header nav li a {
    text-decoration: none;
    color: #233831;
}

header nav li a:hover {
    cursor: pointer;
    color: #F18A41;
    transition: 0.4s;
}

.special-button {
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 15px 25px;
    background-color: #233831;
    color: #fff;
    transition: 0.3s;
    border-radius: 10px;
}

.special-button:hover {
    background-color: #F18A41;
    color: #fff;
}

.container {
    max-width: 1050px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    max-width: 1000px;
    margin: auto;
}

.section1 {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.section2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.content {
    padding: 0 16px;
}



.content h2 {
    font-size: 250%;
    margin-bottom: 15px;
    color: #233831;
}

.content h6 {
    width: fit-content;
    font-size: 15px;
    padding: 7px;
    background-color: #F0EEEA;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: 600;
}

.content h2+p,
.content p {
    color: #666;
    margin-bottom: 30px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
}

.content li {
    font-weight: bold;
    font-size: x-large;
    list-style: none;
    background-image: url(/imagens/check-mark.svg);
    /* Defina a imagem de fundo */
    background-repeat: no-repeat;
    /* Evita a repetição da imagem */
    background-size: 16px 16px;
    /* Ajusta o tamanho da imagem */
    padding-left: 30px;
    /* Adiciona espaço para a imagem à esquerda do texto */
    background-position: 0 50%;
    /* Centraliza verticalmente a imagem */
}

span {
    color: #F18A41;
    box-shadow: 0 0.1em;
}

.section1 img,
.section2 img {
    width: 50%;
    object-fit: cover;
    background-color: #F0EEEA;
    padding: 85px;
    border-radius: 10px;
    margin: 16px;
}

.wrapper {
    display: grid;
    grid-template-columns: 35% 35% 35%;
}

.wrapper img {
    background-color: #fff;
    width: fit-content;
    height: 20vh;
    padding: 0px;
    margin-left: 20px;
    margin: 20px;
}

.wrapper div {
    background-color: #F0EEEA;
    margin: 20px;
    border-radius: 15px;
}

.wrapper div h3 {
    margin: 0px 0px 20px 20px;
    font-size: 22px;
    color: #233831;
}

.wrapper div p {
    margin: 0px 0px 50px 20px;
    color: #666;
    line-height: 30px;
    width: 80%;
}

#clients {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #F0EEEA;
    /* max-width: 1200px; */
    margin: 0 auto;
}

#clients .content {
    display: inline-block;
    padding: 5px 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

#clients p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    width: 80%;
    color: #666;
    margin-bottom: 10px;
}

#clients h6 {
    background-color: #fff;
}

#clients .special-button {
    padding: 15px 25px;
    margin-top: 15px;
    font-size: 17px;
    transition: 0.4s;
}

.left-section {
    flex: 1;
    padding-right: 20px;
}

.sticky-content {
    position: sticky;
    top: 100px;
}

#clients .right-section {
    flex: 1;
    padding-left: 20px;
}

.review {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.stars {
    color: #f39c12;
    font-size: 20px;
    margin-bottom: 15px;
}

.reviewer-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.reviewer-photo {
    width: 70px;
    height: 70px;
    padding: 0;
    border: 3px solid #F0EEEA;
    border-radius: 50%;
    margin-right: 15px;
}

.reviewer-name {
    font-size: 20px;
    width: 50%;
    margin-top: 15px;
}

#form {
    display: flex;
    justify-content: space-between;
    padding: 100px 40px;
    background-color: #233831;
    border-radius: 15px;
    max-width: 1200px;
    margin: 0 auto;
}

#form h2 {
    font-size: 50px;
}

#form .content,
#form .content p {
    color: #fff;
}

#form .content p {
    line-height: 40px;
}

#form .special-button2 {
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 15px 25px;
    margin-right: 20px;
    background-color: #F18A41;
    color: #fff;
    transition: 0.4s;
    border-radius: 10px;
}

#form .special-button3 {
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 15px 25px;
    margin-right: 20px;
    background-color: #fff;
    color: #233831;
    transition: 0.4s;
    border-radius: 10px;
}

#form .special-button2:hover {
    background-color: #000;
    color: #fff;
}

#form .special-button3:hover {
    background-color: #666;
    color: #fff;
}

.features {
    margin-top: 40px;
}

.features li {
    display: inline;
    color: #fff;
    margin-right: 20px;
}

#form .content h6 {
    background-color: #344841;
}

#form .content h2 {
    color: #fff;
}

.form-container {
    background-color: #fff;
    width: 80%;
    height: 110%;
    padding: 45px;
    border-radius: 10px;
}

.form-container h1 {
    font-size: 35px;
    color: #233831;
    margin-bottom: 15px;
}

.form-container p {
    color: #233831;
    line-height: 28px;
    width: 80%;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 25px;
}


input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 13px;
    border: 1px solid #ccc;
    background-color: #F0EEEA;
    border-radius: 10px;
    font-size: 15px;
}

input[type="checkbox"] {
    margin-right: 10px;
    background-color: #F18A41;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding: 30px;
    border-top: 1px solid #F0EEEA;
    align-items: center;
}

footer p {
    color: #666;
}

.footer .profile {
    margin-right: 500px;
}

.footer .policy {
    font-size: 30px;
    margin-left: 40px;
    color: #233831;
}

.footer .policy:hover {
    cursor: pointer;
    color: #F18A41;
    transition: 0.4s;
}

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 2px solid #F89B42;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
    color: #F89B42;
    font-size: 24px;
}

#scrollToTopBtn:hover {
    background-color: #F89B42;
    color: #fff;
}